.modal .modal__type_release {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 3;
}
.modal .modal__closed .modal__type_release {
  visibility: hidden;
  opacity: 0;
}

.pokemon-released-modal {
  border-style: solid;
  border-color: chartreuse;
  border-width: 5px;
  max-width: 500px;
  max-height: 500px;
  background-color: white;
}
.pokemon-released-modal__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
}

.pokemon-released-modal__name {
  margin-left: 4px;
  font-size: 25px;
  margin-bottom: 5px;
}

.pokemon-released-modal__img {
  border-style: solid;
  border-color: white;
  border-width: 3px;
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
  background-color: black;
}
