.App {
  text-align: center;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Supreme-Bold, Supreme-Medium, Arial, Helvetica, sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
* {
  margin: 0%;
}
