.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.sidebar__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.siderbar__user-name {
  font-family: Cabinet Grotesk, Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 25px;
  font-size: 16px;
  margin-left: 10px;
}
.sidebar__button {
  border: none;
  background-color: transparent;
  font-size: 20px;
  line-height: 20px;
  padding-bottom: 10px;
  cursor: pointer;
}
.sidebar__button:hover {
  cursor: pointer;
  opacity: 0.5;
}
