.main {
  padding: 0;
  margin-top: 0;
}

.main__section {
  background-color: RGB(255, 203, 5);
}
.main__items {
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 100px;
  row-gap: 20px;
  flex-wrap: wrap;

  padding: 20px;
}

@media screen and (min-width: 900px) and (max-width: 1440px) {
  .main__items {
    display: flex;
    column-gap: 50px;
  }
}
