.modal .modal__type_pokedex {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 3;
}
.modal .modal_closed .modal__type_pokedex {
  visibility: hidden;
  opacity: 0;
}
.pokemon-modal__card {
  border-style: solid;
  border-color: chartreuse;
  border-width: 5px;
  max-width: 500px;
  max-height: 500px;
  background-color: white;
}
.pokemon-modal__card_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
}
.pokemon-modal__card-hp {
  position: absolute;
  right: 5px;
  top: 2px;
  font-size: 25px;
}
.pokemon-modal__card-name {
  margin-left: 4px;
  font-size: 25px;
  margin-bottom: 5px;
}

.pokemon-modal__card-img {
  border-style: solid;
  border-color: white;
  border-width: 3px;
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
  background-color: black;
}
.pokemon-modal__card-type {
  font-size: 22px;
  padding-bottom: 5px;
  padding-left: 5px;
}
.pokemon-modal__card-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 22px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
